<page-header-component
  title="About Me"
  description="Agency provides a full service range including technical skills, design, business understanding.
"
/>
<div class="container">
  <img src="../../assets/photo/about-photo.png" />

  <personal-info>
    <span name class="body-1"> Gabriel Pires </span>
    <h1 position class="h1">Professional Web Designer</h1>
    <span details>
      Ability to put themselves in the merchant's shoes. It is meant to partner
      on the long run, and work as an extension of the merchant's team. A
      digital agency is a business you hire to outsource your digital marketing
      efforts, instead of handling in-house. They can provide your business with
      a variety of digital solutions to promote your product or service online
      and help you.
    </span>
  </personal-info>

  <project-and-experince [projects]="42" [years]="73" />
</div>
