<div class="container">
  <section class="left">
    <div class="content">
      <span> WEBFLOW EXPERT </span>
      <h1 class="h1">Hi, I'm Developer</h1>
      <span class="body-1"
        >Agency provides a full service range including technical skills,
        design, business understanding.</span
      >
      <div class="button-container">
        <button-component>
          EXPLORE WORK
        </button-component>
        <button-component [buttonType]="ButtonTypeEnum.JUST_TEXT">
          Contact Me
        </button-component>
      </div>
    </div>
  </section>
  <section class="right"></section>
</div>
